<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Techprofuse</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<link rel="stylesheet" href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.jsdelivr.net/combine/npm/lodash,npm/jlate@0.0.2/jlate/JLate.min.js"></script>
<style>
    /* .dt-tbl{
        width:100%;
    } */
    /* table.dataTable td {
  font-size: 1em;
} */
</style>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Techprofuse</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/home">Home</a>
              </li>
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
            </ul>
            <!-- <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
          </div>
        </div>
      </nav>

<div class="container">
    <div class="table-responsive">
        <table id="tbl_google_invoice" class="table dt-tbl">
            <thead>
                <tr>
                    <th>Domain name</th>
                    <!-- <th>Description</th> -->
                    <th>Start date</th>
                    <th>End date</th>
                    <th>Quantity</th>
                    <th>Subscription</th>
                    <th>Order name</th>
                    <th>PO number</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th></th>
                    <!-- <th></th> -->
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
</div>
</div>
<script>
    let column = [	
        { data: "Domain name" },
        // { data: "Description" },
        { data: "Start date" },
        { data: "End date" },
        { data: "Quantity" },
        { data: "Subscription" },
        { data: "Order name" },
        { data: "PO number" },						
        { data: "Amount" }						
    ];
    $(document).ready(function () {
        all_data = load_data("/", false);
        dtbl = $("#tbl_google_invoice").DataTable({
                    bSortable: true,
                    data: all_data,
                    columns: column,
                    scrollY: '350px',
                    sScrollX: "100%",
                    scrollCollapse: true,
                    paging: false,
                    footerCallback: function( tfoot, data, start, end, display ) {
                        var api = this.api();
                        var sum = api.column(7).data().reduce((partialSum, a) => partialSum + a, 0)
                        sum = (sum + (sum * 18/100))
                        $(api.column(7).footer()).html(sum.toFixed(2));
                    }
                });
});

function load_data(data_url,async_method){
			let data = [];
			$.ajax({
				url: data_url,
				type: 'GET',
				async: async_method,
				success: function(res){
					data = JSON.parse(res);					
				}        
			});
			return data;
		}
</script>
</body>
</html>